a{
    color: rgb(239, 13, 13);
    text-decoration: none;
    
}

a:hover{
    color: rgba(165, 42, 42, 0.484);
}


.descriere{
    background-color: rgba(165, 42, 42, 0.204);
    text-decoration-color: black;
    
}
#aaa{
    text-align: center;
    background-color:  rgba(165, 42, 42, 0.204);
}

main{
    border: 20px solid rgba(165, 42, 42, 0.848);
    padding: 30px;
    margin: 30px;
    
}

*{
    background-color: antiquewhite;
}

footer{
    border: 20px;
    margin: 30px;
    
}
@media (min-width: 80em){
#abstracte, #flori, #peisaje{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
}
/* strong{
    display: flex;
    justify-content: end;
    margin: 30px
}
.meniu{
    font-size: large;
    margin: 10px;
    
} */

.tablouri{
    transition-property: transform;
    transition-duration: 0.3s;

}
.tablouri:hover{
    transform: translateY(-10px);
}

.dropdown button{
    background-color: brown ;
    color: antiquewhite;
    padding: 10px 15px;
    border: none;
    cursor: pointer;
}

.dropdown{
    display: inline-block;
}
.dropdown a{
    display: block;
    color: brown;
    text-decoration: none;
    padding: 10px 15px;
}

.dropdown .content{
    display: none;
    background-color: brown;
    position: absolute;
    min-width: 100px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.65);
}

.dropdown:hover .content{
    display: block;
}

.dropdown:hover button{
    background-color: rgba(165, 42, 42, 0.7);
}
.dropdown a:hover{
    background-color: rgba(250, 235, 215, 0.678);
}

